{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Admin Index</h1>
    <a href="/admin">Page d'administration</a>

    <a href="/admin/utilisateurs">Liste des utilisateurs</a>
{% endblock %}
