{% extends 'base.html.twig' %}

{% block title %}So'SerenityHome | Administration{% endblock %}

{% block body %}
    <h1>Page d'administration</h1>

    <a href="/admin/utilisateurs">Liste des utilisateurs</a>
{% endblock %}
