.carousel-container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border:solid 2px #EBA822;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
}

.carousel {
display: flex;
transition: transform 0.5s ease;
}
  
.slide {
    flex: 0 0 100%;
    position: relative;
  }

  .slide img {
    width: 100%;
    object-fit: cover;
  }

.slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
}

.img-logo-carrousel{
  width: 25%!important;

}

.slide-text h2, .slide-text p {
  margin: 0;
}


.prev-button,
.next-button {
position: absolute;
width: 70px; 
height: 70px;
cursor: pointer;
top: 50%;
transform: translateY(-50%);
}


.prev-button{
    left: 0;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.prev-button:hover{
    transform: scale(1.1);
    opacity: 1;
    transform: rotate(180deg); 
}

.next-button{
    right: 0;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.next-button:hover{
    transform: scale(1.1);
    opacity: 1;
    transform: rotate(0deg);
}

.img1-text-hauteur{
  padding-top: 15%;
}

.size-24h{
  height: 6vw;
  width: 6vw;
}

.size-wifi{
  height: 5vw;
  width: 6vw;
}
.size-fourchette{
  height: 5vw;
  width: 6vw;
}
.size-serviette{
  height: 5vw;
  width: 6vw;
}




