.text-blue{color:#243061!important; font-family: sans-serif;}a.text-blue:focus,a.text-blue:hover{color:#243061!important}
.text-yellow{color:#EBA822!important ; font-family: sans-serif;}
.text-bluelight{color:#30459B!important; font-family: sans-serif;}
.text-white{color:#FFFFFF!important ; font-family: sans-serif;}a.text-yellow:focus,a.text-yellow:hover{color:#FFFFFF!important}

.button-toolbar{
    border-radius: 20px;
    padding: 10px 5px;
    min-width: 100px;
    border: none;
    background-color: #243061;
    color: #FFFFFF;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-toolbar:hover{
    background-color: #EBA822;
    color: #FFFFFF;
    font-family: sans-serif;
    display: inline-block;
}

.border-yellow{
    border-top: 1px solid #EBA822;
}

.font-12px{
    font-size: 12px;
}

.container{
    border-radius: 20px;
    width:400px;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

div-100{
    height: 40px;
}

.button-yellow {
    background-color: #EBA822;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
    transition: all 0.3s ease;
    transform: translateX(12.5%);
}
.button-connexion:hover {
    background-color: #243061;
}

.gras{
    font-weight: bold;
}

.bold-600{
    font-weight: 600;
}

.bold-700{
    font-weight: 700;
}

.font-26px{
    font-size: 26px;
}

.font-21px{
    font-size: 20px;
}

.font-60px{
    font-size: 60px;
}

.font-16px{
    font-size: 16px;
}

.bg-montagne{
    background-image: url("http://127.0.0.1:8000/assets/image/samoens-photo.jpg");
    background-size: cover;
    background-color: #EBA822;
}

.bg-blanc{
    background-color: #ffffff;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.padding-10px{
    padding: 10px;
}

.line-2px{
    line-height: 1em;
}

.center-div{
    margin: auto;
}

.margin-center{
    margin-left: 250px;
    margin-right: 250px;
}

.div-height{
    height: 100%;
}