.text-blue{color:#243061!important; font-family: sans-serif;}a.text-blue:focus,a.text-blue:hover{color:#243061!important}
.text-yellow{color:#EBA822!important ; font-family: sans-serif;}
.text-bluelight{color:#30459B!important; font-family: sans-serif;}
.text-white{color:#FFFFFF!important ; font-family: sans-serif;}a.text-yellow:focus,a.text-yellow:hover{color:#FFFFFF!important}

.button-toolbar{
    border-radius: 20px;
    padding: 10px 5px;
    min-width: 100px;
    border: none;
    background-color: #243061;
    color: #FFFFFF;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-toolbar:hover{
    background-color: #EBA822;
    color: #FFFFFF;
    font-family: sans-serif;
    display: inline-block;
}

.border-yellow{
    border-top: 1px solid #EBA822;
}

.font-12px{
    font-size: 12px;
}

.container{
    border-radius: 20px;
    width:20%;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

.container-user{
    border-radius: 20px;
    width:45%;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

.div-100{
    height: 40px;
}

.button-yellow {
    background-color: #EBA822;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
    transition: all 0.3s ease;
    transform: translateX(12.5%);
}

.button-yellow:hover{
    background-color: #243061;
    color: #FFFFFF;
    font-family: sans-serif;
    display: inline-block;
}

.button-yellow-user {
    background-color: #EBA822;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    padding: 10px 0px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    width: 75%;
    transition: all 0.3s ease;
}

.button-yellow-user:hover{
    background-color: #243061;
    color: #FFFFFF;
    font-family: sans-serif;
    display: inline-block;
}

.gras{
    font-weight: bold;
}

.bold-600{
    font-weight: 600;
}

.bold-700{
    font-weight: 700;
}

.font-26px{
    font-size: 26px;
}

.font-21px{
    font-size: 20px;
}

.font-60px{
    font-size: 60px;
}

.font-16px{
    font-size: 16px;
}

.bg-montagne{
    background-image: url("http://127.0.0.1:8000/assets/image/samoens-photo.jpg");
    background-size: cover;
    background-color: #EBA822;
}

.bg-blanc{

    background-color: #ffffff;
}

.text-center{
    text-align: center;
}

.text-right{
    /* text-align: right; */
}

.text-left{
    text-align: left;
}

.padding-10px{
    padding: 10px;
}

.line-2px{
    line-height: 1em;
}

.center-div{
    margin: auto;
}

.margin-center{
    margin: auto;
}

.div-height{
    height: 100%;
}

.same-line{
    display: flex;
}

.img-carre{
    object-fit: contain;
}

.check{
    display: block;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 2vw;
    height: 2vw;
}

@media screen and (max-width: 768px) {
    .warp-phone{
        display: block!important;
    }
    .no-margin-phone{
        margin: 0!important;
    }
    .padding-phone{
        padding-top: 20px!important;
    }
    .font-phone{
        font-size: 1.2em;
        font-weight: 800;
    }
    .clear-left{
        clear: left;
    }
    .text-center-phone{
        text-align: center!important;
    }
    .float-left{
        float: none!important;
    }
    .mb-toolbar-phone{
        margin-bottom: 20px;
    }
    .padding-toolbar-phone{
        padding-bottom: 20px!important;
    }
    .font-so-footer-phone{
        font-size: 0.7em;
    }
    .prev-button,
    .next-button {
    width: 50px!important;
    }
    .font-carrousel1-phone{
        font-size: 1.1em;
        margin-bottom: 10px!important;
    }
    .font-carrousel2-phone{
        font-size: 1.5em;
        margin-top: 10px!important;
    }
    .img-logo-carrousel{
        width: 100px!important;
    }
}

.item-center{
    align-items: center;
}

.size-img-accueil{
    width: 90px;
  }

.float-left{
    float: left;
}

.pt-48{
    padding-top: 48px;
}

.pb-48{
    padding-bottom: 48px;
}

.logo-toolbar{
    margin-top: -40px;
}