{% extends 'base.html.twig' %}

{% block title %}Accueil index{% endblock %}

{% block body %}
    <h1>Accueil index</h1>
<iframe id="bookingengine" allowfullscreen="" 
src="https://app.superhote.com/#/get-available-rentals/QGxkGD8ET7vGr9ix8mglm7naI" 
style="display:block;" width="100%" height="1000"  frameborder="0" 
sandbox="allow-scripts allow-forms allow-same-origin allow-presentation"></iframe>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accueil in accueils %}
            <tr>
                <td>{{ accueil.id }}</td>
                <td>
                    <a href="{{ path('app_accueil_show', {'id': accueil.id}) }}">show</a>
                    <a href="{{ path('app_accueil_edit', {'id': accueil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accueil_new') }}">Create new</a>
{% endblock %}
