{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

<div class="elementor-widget-container">
	<h2 class="elementor-heading-title elementor-size-default">
    Notre priorité : vous apporter confort, plaisir et facilité en choisissant nos logements</h2>		
</div>

<div class="elementor-row">
 <div class="elementor-element elementor-element-94ebedc elementor-column elementor-col-25 elementor-top-column" data-id="94ebedc" data-element_type="column">
  <div class="elementor-column-wrap elementor-element-populated">
   <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-5fe0236 elementor-widget elementor-widget-image" data-id="5fe0236" data-element_type="widget" data-widget_type="image.default">
     <div class="elementor-widget-container">
      <div class="elementor-image">
       <img width="150" height="150" src="{{ asset('assets/image/24h24h.png')}}" class="attachment-large size-large" alt="" loading="lazy" </div>
       <div class="elementor-element elementor-element-0fa93c1 elementor-widget elementor-widget-heading" data-id="0fa93c1" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
         <h2 class="elementor-heading-title elementor-size-default">Arrivée à votre convenance </h2>
        </div>
       </div>
       <div class="elementor-element elementor-element-6cef515 elementor-widget elementor-widget-text-editor" data-id="6cef515" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
         <div class="elementor-text-editor elementor-clearfix">
          <p>Mise à disposition d’une boite à clés sécurisée</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="elementor-element elementor-element-87f2575 elementor-column elementor-col-25 elementor-top-column" data-id="87f2575" data-element_type="column">
     <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
       <div class="elementor-element elementor-element-8b5ebd8 elementor-widget elementor-widget-image" data-id="8b5ebd8" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
         <div class="elementor-image">
          <img width="182" height="127" src="{{ asset('assets/image/serviette.jpg')}}" class="attachment-large size-large" alt="" loading="lazy" sizes="100vw">
         </div>
        </div>
       </div>
       <div class="elementor-element elementor-element-04c3fdc elementor-widget elementor-widget-heading" data-id="04c3fdc" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
         <h2 class="elementor-heading-title elementor-size-default">Equipé tout confort <br>
         </h2>
        </div>
       </div>
       <div class="elementor-element elementor-element-a88c995 elementor-widget elementor-widget-text-editor" data-id="a88c995" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
         <div class="elementor-text-editor elementor-clearfix">
          <br>Tout le matériel comme à la maison
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="elementor-element elementor-element-87f2575 elementor-column elementor-col-25 elementor-top-column" data-id="87f2575" data-element_type="column">
     <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
       <div class="elementor-element elementor-element-8b5ebd8 elementor-widget elementor-widget-image" data-id="8b5ebd8" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
         <div class="elementor-image">
          <img width="180" height="180" src="{{ asset('assets/image/fourchette.png')}}" class="attachment-large size-large" alt="" loading="lazy" sizes="100vw">
         </div>
        </div>
       </div>
       <div class="elementor-element elementor-element-04c3fdc elementor-widget elementor-widget-heading" data-id="04c3fdc" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
         <h2 class="elementor-heading-title elementor-size-default">WIFI / Netflix <br>
         </h2>
        </div>
       </div>
       <div class="elementor-element elementor-element-a88c995 elementor-widget elementor-widget-text-editor" data-id="a88c995" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
         <div class="elementor-text-editor elementor-clearfix">
          <br>WIFI et Netflix gratuits dans chaque appartement
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="elementor-element elementor-element-87f2575 elementor-column elementor-col-25 elementor-top-column" data-id="87f2575" data-element_type="column">
     <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
       <div class="elementor-element elementor-element-8b5ebd8 elementor-widget elementor-widget-image" data-id="8b5ebd8" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
         <div class="elementor-image">
          <img width="240" height="184" src="{{ asset('assets/image/wifi.png')}}" class="attachment-large size-large" alt="" loading="lazy" sizes="100vw">
         </div>
        </div>
       </div>
       <div class="elementor-element elementor-element-04c3fdc elementor-widget elementor-widget-heading" data-id="04c3fdc" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
         <h2 class="elementor-heading-title elementor-size-default">Services hoteliers <br>
         </h2>
        </div>
       </div>
       <div class="elementor-element elementor-element-a88c995 elementor-widget elementor-widget-text-editor" data-id="a88c995" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
         <div class="elementor-text-editor elementor-clearfix">
          <br>Kit d’accueil et linge de maison fournis
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>



{% endblock %}